<div class="main">
  <h2>Recommended</h2>
</div>

<div class="right-bar">
  <h2>Your Ink</h2>

  <div>
    <div class="ink_blurb">
      <img class="ink_icon" src="/images/icon_other.png" style="float: left; margin-right: 6px; margin-bottom: 2px;" />
      <div style="display: inline; line-height: 52px;">
        <%= form_tag(:controller => "inks", :action => "create") do %>
            <%= submit_tag("Create something!") %>
        <% end %>
      </div>
    </div>
    <% current_author.inks.each do |ink| %>
        <div class="ink_blurb">
          <img class="ink_icon" src="<%= ink.thumbnail_url %>" style="float: left; margin-right: 6px; margin-bottom: 2px;" />
          <div style="display: inline; vertical-align: top;">
            <b><%= link_to ink.title, ink %></b><br />
            <%= truncate(ink.text, :length => 200) %>
          </div>
        </div>
    <% end %>
  </div>
</div>
