<%= form_for(@ink) do |f| %>
    <div class="full">
      <h2><%= f.text_field :title, :class => "title" %></h2>
    </div>

    <div class="main">
      <%= f.text_area :text, :class => "text" %>
      <%= f.submit %><%= link_to 'cancel', @ink %>
    </div>

    <div class="right-bar">
      <h3 class="tags">Tags</h3>

      <div>
        asd fjsadk flj dskadkf jjakef jkdsfe
      </div>

      <h3 class="more">Miscellaneous</h3>
      <div>
        What type of composition is this?<br />
        <%= f.radio_button :category, "poem" %> Poem<br />
        <%= f.radio_button :category, "short_story" %> Short Story<br />
        <%= f.radio_button :category, "other" %> Other
      </div>

      <h3 class="other">Other</h3>
      <div>
        If you want to permanently delete this Ink, click on the word
        <%= link_to "erase", ink_path(@ink), :method => "delete", :confirm => "Really erase this ink?" %>. You cannot undo this action.<br />
      </div>
    </div>
<% end %>
