<div class="full">
  <h2>The Library</h2>
</div>

<div class="main">
  <div>
    <%= render :partial => 'inks/inks_list', :locals => {:inks => (@inks.sort_by &:updated_at).reverse} %>
  </div>
</div>

<div class="right-bar">
  <div class="author_blurb">
    <% if author_signed_in? %>
        <a href="<%= author_path(current_author) %>"><img class="author_thumbnail" src="<%= current_author.thumbnail_url %>"/></a>
    <% else %>
        <img class="author_thumbnail" src="<%= Author.thumbnail_url %>"/>
    <% end %>

    <div style="display: inline; line-height: 82px;">
      <%= form_tag(:controller => "inks", :action => "create") do %>
          <%= submit_tag("Create something!") %>
      <% end %>
    </div>
  </div>

  <h3 class="tags">Tags</h3>

  <div>
    asd fjsadk flj dskadkf jjakef jkdsfe
  </div>

  <h3 class="authors">Authors</h3>

  <div class="authors_block">
    <% @authors.each do |author| %>
        <a href="<%= author_path(author) %>"><img class="author_thumbnail_small" src="<%= author.thumbnail_url %>"/></a>
    <% end %>
  </div>
</div>
