<div class="full">
  <h2><%= @ink.title %></h2>
  <% if @ink.author == current_author %><%= link_to 'Edit', edit_ink_path(@ink) %>
      <br/>
  <% end %>
</div>

<div class="main">
  <div class="text">
    <%= @ink.text.present? ? strip_tags(@ink.text).gsub("\n", "<br />").html_safe : "(this ink has no text)" %>
  </div>

  <div class="comments_block">
    <h3>Comments</h3>

    <div>
      <% if @ink.comments.any? %>
          <% @ink.comments.each do |comment| %>
              <div class="comment_block">
                <img class="author_thumbnail_small" src="<%= comment.author.thumbnail_url %>"/>

                <div class="comment_content">
                  <b><%= link_to comment.author.alias, comment.author %></b>
                  <% if @ink.author == current_author %><%= link_to "(remove)", comment_path(comment), :method => "delete", :confirm => "Really remove this comment?" %>
                  <% end %>
                  <br/>
                  <%= comment.text %>
                </div>
              </div>
          <% end %>
      <% end %>
      <%= form_for(Comment.new) do |f| %>
          <%= hidden_field_tag :ink_id, @ink.id %>
          <div class="comment_block">
            <% if author_signed_in? %>
                <img class="author_thumbnail_small" src="<%= current_author.thumbnail_url %>"/>

                <div class="comment_content">
                  <%= f.text_area :text %>
                  <%= f.submit ("Comment") %>
                </div>
            <% else %>
                <img class="author_thumbnail_small" src="<%= Author.thumbnail_url %>"/>

                <div class="comment_content">
                  <%= f.text_area :text %>
                  <%= f.submit ("Comment") %>
                </div>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
</div>

<div class="right-bar">
  <div class="author_blurb">
    <img class="author_thumbnail" src="<%= @ink.author.thumbnail_url %>"/>

    <div class="author_content">
      <b><%= link_to @ink.author.alias, @ink.author %></b><br/>
      <%= truncate(@ink.author.autobiography, :length => 170) %>
    </div>
  </div>

  <h3 class="tags">Tags</h3>

  <div>
    asd fjsadk flj dskadkf jjakef jkdsfe
  </div>

  <h3 class="more">More</h3>
  <% inks = Array.new %>
  <% inks |= @ink.author.inks %>
  <% inks.delete(@ink) %>
  <% inks.each do |ink| %>
      <div class="ink_blurb">
        <img class="ink_icon" src="<%= ink.thumbnail_url %>" style="float: left; margin-right: 6px; margin-bottom: 2px;"/>

        <div style="display: inline; vertical-align: top;">
          <b><%= link_to ink.title, ink %></b><br/>
          <%= truncate(ink.text, :length => 100) %>
        </div>
      </div>
  <% end %>
</div>
</div>
